/* Header Start */
.header {
    padding-inline: 24px;
}
.nav {
    margin-block: 36px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}
.logo {
    height: 100%;
}
.humberger-menu {
    background-color: var(--black);
    height: 100%;
    aspect-ratio: 1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 5px 8px;
}
.line {
    background-color: var(--white);
    height: 3px;
    width: 100%;
}
/* Header End */
