/* Header Start */
.nav {
    position: absolute;
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding-inline: 24px;
    top: 36px;
    width: 100%;
}
.hero-section {
    background-size: cover;
    color: var(--white);
}
.hero-left-container {
    display: flex;
    flex-direction: column;
    padding-inline: 24px;
    background-color: #00eea7ed;
    padding-block: 144px 84px;
}
.left {
    text-align: right;
    background-image: url("../assets/images/hero-left.png");
}
.hero-title {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 800;
}
.left .hero-title {
    align-items: flex-end;
}
.hero-title-part-1 {
    font-size: 18px;
    padding-inline: 10px;
}
.left .hero-title-part-1 {
    background-color: var(--black);
}
.hero-title-part-2 {
    text-transform: uppercase;
    transition: ease-in-out 1s;
    font-size: 24px;
    position: relative;
}
.left .hero-title-part-2 {
    height: 33px;
    padding-right: 8px;
}
.left .hero-title-part-2::before {
    content: "";
    position: absolute;
    right: -8px;
    bottom: 0;
    width: 15px;
    height: 4px;
    background-color: var(--white);
    transform: translateY(0%);
    animation: blink 0.7s infinite;
}
.left .hero-title-part-2.stop-blinking::before {
    transition: ease-in-out 1s;
    color: var(--white);
    animation: none;
}
.left .hero-title-part-2.color_black::before {
    background-color: var(--black);
}
.hero-description {
    padding-block: 40px;
    font-size: 14px;
}

.hero-link {
    cursor: pointer;
    text-decoration: none;
    font-weight: 800;
    font-size: 14px;
    padding: 15px 20px;
    width: fit-content;
}
.left .hero-link {
    align-self: flex-end;
    color: var(--white);
    background-color: var(--black);
}
.right {
    text-align: left;
    background-image: url("../assets/images/hero-right.png");
}
.hero-right-container {
    display: flex;
    flex-direction: column;
    padding: 24px 24px 144px 24px;
    background-color: var(--overlay-black);
}
.right .hero-title {
    align-items: flex-start;
}
.right .hero-title-part-1 {
    background-color: var(--white);
    color: var(--black);
}
.right .hero-link {
    align-self: flex-start;
    color: var(--black);
    background-color: var(--white);
}
/* Header End */

/* Nav-bar Start */
.logo {
    height: 100%;
    cursor: pointer;
}
.humberger-menu {
    background-color: var(--black);
    height: 100%;
    aspect-ratio: 1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 5px 8px;
}
.line {
    background-color: var(--white);
    height: 3px;
    width: 100%;
}
/* Nav-bar End */
