@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    --white: #fcfcfd;
    --black: #363738;
    --pink_primary: #fb508e;
    --sef_primary: #28eea7;
    --grey: #a5a6a9;
    --black-2: #232323;
    --daf_primary: #fb4747;
    --background: #f1f2f3;
    --ylw_primary: #ffc635;
    --ppl_primary: #9864da;
    --overlay-black: rgba(35, 35, 35, 0.9);
    --light_grey: #dcdee1;
    --hrf_primary: #31b7f0;
    --overlay-green: rgba(40, 238, 167, 0.9);
    --ghost-white: #ecedf3;
    --purple-overlay: rgba(152, 100, 218, 0.9);
}
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
.page {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    font-family: "Noto Sans Mono", monospace;
    position: relative;
}
img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.d-none {
    display: none !important;
}
.color-primary {
    color: var(--sef_primary);
}
.color-black {
    color: var(--black);
}
.color-white {
    color: var(--white);
}
.color-grey {
    color: var(--grey);
}
.bg-color-primary {
    background-color: var(--sef_primary);
}
.bg-color-black {
    background-color: var(--black);
}
.bg-color-white {
    background-color: var(--white);
}
.bg-color-grey {
    background-color: var(--grey);
}
section,
.section-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section {
    width: 100%;
    padding: 24px 0px 36px;
}
.section-body {
    width: 100%;
    padding-inline: 24px;
}
.section-header {
    width: 100%;
    display: flex;
    gap: 0px;
    align-items: center;
    margin-bottom: 36px;
}
.section-title {
    display: flex;
}
.title-prefix {
    padding: 10px 0 10px 15px;
    font-weight: 800;
    font-size: 20px;
}
.section-header h2 {
    padding: 10px 15px;
    font-weight: 800;
    font-size: 20px;
}
.three-dots {
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
}
.dot {
    height: 15px;
    width: 15px;
    border-radius: 100%;
}
@media only screen and (min-width: 480px) {
    section {
        padding-block: 40px;
    }
    .section-body {
        padding-inline: 40px;
    }
}
@media only screen and (min-width: 768px) {
    section {
        padding-block: 70px;
    }
    .section-body {
        padding-inline: 70px;
    }
    .section-header {
        margin-bottom: 50px;
    }
    .title-prefix {
        font-weight: 900;
        font-size: 24px;
    }
    .section-header h2 {
        font-weight: 900;
        font-size: 24px;
    }
    .dot {
        height: 24px;
        width: 24px;
    }
}
@media only screen and (min-width: 992px) {
    .section-body {
        max-width: 1340px;
    }
}
@keyframes blink {
    50% {
        opacity: 0;
    }
}
